/DbEntities/build/
/DbEntities/nbproject/private/
/DbEntities/dist
/NbPhon/nbproject/private/
/NbPhon/build/
/.gradle
/NbPhon/NbPhonAPI/release/modules/ext/DbEntities.jar
/NbPhon/NbPhonAPI/release/modules/ext/derbyclient.jar
/NbPhon/NbPhonAPI/release/modules/ext/derbynet.jar
/NbPhon/NbPhonAPI/release/modules/ext/derby.jar
/NbPhon/NbPhonAPI/release/modules/ext/org.eclipse.persistence.jpa.jpql_2.5.0.v20130507-3faac2b.jar
/NbPhon/NbPhonAPI/release/modules/ext/javax.persistence_2.1.0.v201304241213.jar
/NbPhon/NbPhonAPI/release/modules/ext/eclipselink.jar
/NbPhon/NbPhonAPI/build/
/.nb-gradle/profiles/private/
/NbPhon/NbPhonAPI/nbproject/private/
/NbPhon/Editors/build/
/NbPhon/Editors/nbproject/private/
/NbPhon/Explorers/build/
/NbPhon/Explorers/nbproject/private/
/artwork/draft/
/artwork/firstAttempt/
/artwork/naming/
/CreateDb/nbproject/private/
/phonDb/CreateDb/nbproject/private/
/phonDb/CreateDb/build/
/phonDb/CreateDb/sql/populateExamplePersons.sql
/phonDb/CreateDb/dist/
/phonDb/CreateDb/sql/populateExampleContests.sql
/phonDb/CreateDb/sql/_3_populateExamplePersons.sql
/phonDb/CreateDb/sql/_4_populateExampleContests.sql